In [4]:
print("Merhaba")

Merhaba

In [5]:
#print verilen değerin yazdırılması içindir.

In [6]:
"""
# tek satırlık yorum bölümü iken
3 adet tırnak çok satırlı yorum bölümüdür.
"""

'\n# tek satırlık yorum bölümü iken\n3 adet tırnak çok satırlı yorum bölümüdür.\n'

In [7]:
print('Son satır')

Son satır

## Değişkenler

In [8]:
# String değişken

name="Ali"
surname="Bilmem"
age= 30

print(name, surname, age)

Ali Bilmem 30

In [9]:
action

NameError: name 'action' is not defined

In [10]:
action = 0

action = "Veli"

print(action)

Veli

In [11]:
action = "Veli"

action = 0

print(action)

0

In [12]:
status = "Veli"

status = "Serkan"

print(status)

Serkan

In [13]:
Serkan

NameError: name 'Serkan' is not defined

In [15]:
num1 = 13.3
num2 = 55.7
numSum = num1 + num2
print("Sum",numSum)

Sum 69.0

In [16]:
type1= type(num1)
print(type1)

<class 'float'>

In [17]:
type2 = type(name)
print(type2)

<class 'str'>

In [18]:
num3:int="str"
print(num3)

str

In [19]:
1num=3

SyntaxError: invalid syntax (<ipython-input-19-1d4c94d03819>, line 1)

In [20]:
#camel case
username="ali"
userName="ali"

In [21]:
userName,userSurname, userEmail = "Veli", "Bilmem","veli@mail.com"

In [22]:
print(userName, userSurname, userEmail)

Veli Bilmem veli@mail.com

In [23]:
arr= ["İstanbul","Ankara","Samsun"]
x, y, z = arr
print(x, y, z)

İstanbul Ankara Samsun

In [24]:
print(arr)

['İstanbul', 'Ankara', 'Samsun']

In [25]:
print ( arr[0] )

İstanbul

In [26]:
#global variable

cityName = "İstanbul"

def fncCty():
    print(cityName)

In [27]:
fncCty()

İstanbul

In [28]:
def fncCty():
    cityNamex="Adana"
    print(cityNamex)

In [29]:
fncCty()

Adana

In [30]:
print(cityNamex)

NameError: name 'cityNamex' is not defined

## Veri tipleri

In [31]:
#str
#int
#float
#complex
#list
#tuple
#range
#dict
#set
#frozenset
#bool
#bytes
#bytearray
#memoryview
#NoneType

In [36]:
#List

List1 = ["Ali",30, true, 12.7]

NameError: name 'true' is not defined

In [37]:
List1 = ["Ali",30, True, 12.7]

In [39]:
print(type(List1))

<class 'list'>

In [45]:
print(List1[0])

Ali

In [46]:
print(type(List1[0]))

<class 'str'>

In [47]:
print(len(List1))

4

In [48]:
print(List1[-1])

12.7

In [49]:
print(List1[0:2])

['Ali', 30]

In [51]:
newList =List1[0:2]

In [52]:
print(newList[0], newList[1])

Ali 30

In [53]:
List1

['Ali', 30, True, 12.7]

In [54]:
if "Ali" in List1:
    print(True)

True

In [55]:
List1 = ["Ali", 30, True, 12.7]

In [56]:
List1[0] ="Erkan"

In [57]:
print(List1)

['Erkan', 30, True, 12.7]

In [58]:
List1.append("Veli")

In [59]:
print(List1)

['Erkan', 30, True, 12.7, 'Veli']

In [60]:
List1.insert(1, False)

In [61]:
print(List1)

['Erkan', False, 30, True, 12.7, 'Veli']

In [62]:
List1.remove(False)

In [63]:
print(List1)

['Erkan', 30, True, 12.7, 'Veli']

In [64]:
List1.append("Ali")
List1.append("Ali")

In [65]:
print(List1)

['Erkan', 30, True, 12.7, 'Veli', 'Ali', 'Ali']

In [66]:
List1.remove("Ali")

In [67]:
print(List1)

['Erkan', 30, True, 12.7, 'Veli', 'Ali']

In [68]:
List1.pop(4)

'Veli'

In [69]:
List1

['Erkan', 30, True, 12.7, 'Ali']

In [70]:
List1.clear()

In [71]:
List1

[]

In [72]:
del List1

In [73]:
List1

NameError: name 'List1' is not defined

In [76]:
List1 = [30, True, 12.7, 'Veli', 'Ali']

In [78]:
for x in List1:
  print(x)

30
True
12.7
Veli
Ali

In [79]:
for x in List1:
  if 'Veli' == x:
    print("This val: Veli")

This val: Veli

In [82]:
for x in List1:
  if 30 == x:
    print("This val", x)

This val 30

In [83]:
List2 = ["Ankara","İzmir","İstanbul","Samsun","Antalya","Adana"]

In [84]:
List3 = []

In [85]:
for item in List2:
    if item in "a":
        List3.append(item)

In [86]:
List3

[]

In [87]:
for item in List2:
    if "a" in item :
        List3.append(item)

In [88]:
List3

['Ankara', 'İstanbul', 'Samsun', 'Antalya', 'Adana']

In [89]:
List3 = []

In [90]:
List3

[]

In [91]:
List3 =[item for item in List2 ]

In [92]:
List3

['Ankara', 'İzmir', 'İstanbul', 'Samsun', 'Antalya', 'Adana']

In [93]:
List3.clear()

In [94]:
List3

[]

In [95]:
List3 =[item for item in List2 if "a" in item]
List3

['Ankara', 'İstanbul', 'Samsun', 'Antalya', 'Adana']

In [96]:
List3 =[item.upper() for item in List2 if "a" in item]
List3

['ANKARA', 'İSTANBUL', 'SAMSUN', 'ANTALYA', 'ADANA']

In [97]:
List2.sort()

In [98]:
List2

['Adana', 'Ankara', 'Antalya', 'Samsun', 'İstanbul', 'İzmir']

In [99]:
List2.sort(reverse=True)

In [100]:
List2

['İzmir', 'İstanbul', 'Samsun', 'Antalya', 'Ankara', 'Adana']

In [101]:
List4 = [33,45,67,89,23,11,23,99]

In [102]:
def fncSort(item):
    return item * 3

In [107]:
List4.sort(key=fncSort)

In [108]:
List4

[11, 23, 23, 33, 45, 67, 89, 99]

In [113]:
List4.sort(key = int.bit_length)

In [114]:
List4

[11, 23, 23, 33, 45, 67, 89, 99]

In [110]:
List5 =["A","B","C"]

In [111]:
List6 = List5

In [112]:
List6

['A', 'B', 'C']

In [115]:
List5.append("D")

In [116]:
List6

['A', 'B', 'C', 'D']

In [117]:
List7 = List6.copy()

In [118]:
List6.append("E")

In [119]:
List7

['A', 'B', 'C', 'D']

In [120]:
List6

['A', 'B', 'C', 'D', 'E']

In [ ]:
# copy bellekte yeni bir alan açmakla ilgilidir.
# Burada List7 diye bir şey aslında yok. Bellekte saklanan yer List6 kadardır.

In [121]:
Listx =[ item for item in List4] #copy fonksiyonu ile aynı şekilde çalışır.

In [122]:
Listx.append(101)

In [123]:
Listx

[11, 23, 23, 33, 45, 67, 89, 99, 101]

In [124]:
List4

[11, 23, 23, 33, 45, 67, 89, 99]

In [126]:
arr1 = ('Ali',22,56.7,True,🤣)

SyntaxError: invalid character in identifier (<ipython-input-126-f89cb0fd3a6b>, line 1)

In [127]:
arr1 = ('Ali',22,56.7,True,"Mehmet","Serkan")

In [128]:
arr1

('Ali', 22, 56.7, True, 'Mehmet', 'Serkan')

In [129]:
arr1[0]="Zehra"

TypeError: 'tuple' object does not support item assignment

In [130]:
newList = list(arr1)

In [131]:
newList[0] ="Zehra"

In [132]:
newList

['Zehra', 22, 56.7, True, 'Mehmet', 'Serkan']

In [133]:
arr1 = tuple(newList)

In [134]:
arr1

('Zehra', 22, 56.7, True, 'Mehmet', 'Serkan')

In [135]:
for item in arr1:
    print(item)

Zehra
22
56.7
True
Mehmet
Serkan

In [159]:
for i in 1,3:
        print(arr[i])

Ankara

IndexError: list index out of range

In [137]:
for i in 3:
    print(arr1[i])

TypeError: 'int' object is not iterable

In [165]:
for(i in range, len(arr1)-1):
      print(arr1(i))

SyntaxError: invalid syntax (<ipython-input-165-344b3fc9ac7a>, line 1)

In [163]:
arr1

('Zehra', 22, 56.7, True, 'Mehmet', 'Serkan')

In [166]:
print(arr1.count('Zehra'))

1

In [152]:
# Değiştirme olmasını istemediğimiz dizi elemanları için tuple kullanılır.
# Tuple'lar yazılımın kendi içerisinde tutabileceğimiz listelerdir.

In [153]:
# Setlerin önemli özelliklerinden biri unique değerler içermesidir.

In [154]:
# Set için süslü parantez kullanılır. Tuple da normal parantez, Listler köşeli parantez şeklindedir.

In [169]:
newSet = {}

In [170]:
print(type(newSet))

<class 'dict'>

In [171]:
newSet = {"Ali","Veli","Serkan","Veli"}

In [172]:
newSet

{'Ali', 'Serkan', 'Veli'}

In [173]:
type(newSet)

set

In [174]:
len(newSet)

3

In [175]:
newSet.add("Mehmet")

In [176]:
newSet

{'Ali', 'Mehmet', 'Serkan', 'Veli'}

In [177]:
newSet.remove("Serkan")

In [178]:
newSet

{'Ali', 'Mehmet', 'Veli'}

In [179]:
deleteItem = newSet.pop()

In [180]:
deleteItem

'Veli'

In [181]:
newSet

{'Ali', 'Mehmet'}

In [189]:
for x in newSet:
    print(newSet)

{'Ali', 'Mehmet'}
{'Ali', 'Mehmet'}

In [190]:
dic = {name: "Serkan", surname: "Bilmem", age: 30, email:"serkan@mail.com"}

NameError: name 'email' is not defined

In [191]:
dic = {"name": "Serkan", "surname": "Bilmem", "age": 30, "email":"serkan@mail.com"}

In [192]:
dic

{'name': 'Serkan', 'surname': 'Bilmem', 'age': 30, 'email': 'serkan@mail.com'}

In [193]:
dic = {"name": "Serkan", "surname": "Bilmem", "age": 30, "email":"serkan@mail.com","status":True}

In [194]:
dic

{'name': 'Serkan',
 'surname': 'Bilmem',
 'age': 30,
 'email': 'serkan@mail.com',
 'status': True}

In [195]:
dic["name"]

'Serkan'

In [196]:
dic["age"]

30

In [197]:
len(dic)

5

In [199]:
dic.keys()

dict_keys(['name', 'surname', 'age', 'email', 'status'])

In [202]:
dic.values()

dict_values(['Serkan', 'Bilmem', 30, 'serkan@mail.com', True])

In [205]:
for key in keys:
    print(dic[key])

Serkan
Bilmem
30
serkan@mail.com
True

In [204]:
keys = dic.keys()

In [206]:
dic["name"]  = "Ahmet"

In [207]:
dic

{'name': 'Ahmet',
 'surname': 'Bilmem',
 'age': 30,
 'email': 'serkan@mail.com',
 'status': True}

In [208]:
dic["namex"] = "Zehra"

In [209]:
dic

{'name': 'Ahmet',
 'surname': 'Bilmem',
 'age': 30,
 'email': 'serkan@mail.com',
 'status': True,
 'namex': 'Zehra'}